<template>
  <img class="w-72 h-auto object-center object-cover" src="~/assets/logo/logo_marco_bugana.png" />
</template>

<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
