<template>
  <div>
    <client-only>
      <Slide :isOpen="this.open" width="400">
        <ul class="flex flex-col h-full w-full uppercase tracking-widest">
          <a href="about" class="pb-8 bm-item-list">About</a>
          <a href="" class="pb-8 bm-item-list">Front end</a>
          <a href="" class="pb-8 bm-item-list">Project Management</a>
          <a href="" class="pb-8 bm-item-list">On my way</a>
        </ul>
      </Slide>
    </client-only>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false
    };
  },
  methods: {
    openMenu() {
      this.open = true;
    }
  }
};
</script>

<style>
.bm-overlay {
  @apply bg-none;
  background: none;
}
.bm-menu {
  @apply bg-mb-dark-green-500;
}

.line-style {
  @apply bg-mb-dark-green-500 h-1 w-8 absolute left-0 right-0;
  border-radius: 10px;
}
.cross-style {
  @apply absolute;
  top: 20px;
  right: 8px;
  cursor: pointer;
}
.bm-cross {
  @apply bg-mb-light-green-500 w-12 h-12;
}
.bm-cross-button {
  @apply w-12 h-12;
}
.bm-item-list {
  @apply text-mb-light-green-500 m-0;
}
.bm-item-list > * {
  @apply flex;
  text-decoration: none;
}
a.bm-item-list {
  @apply hover:text-mb-light-green-300;
}
.bm-item-list > * > span {
  color: white;
}
</style>
