<template>
  <div class="container">
    <client-only>
      <MenuCustom />
    </client-only>
    <div>
      <div class="flex items-center justify-center">
        <Logo />
      </div>
      <h1 class="font-sans text-7xl tracking-wider text-mb-dark-green-500">
        on my way
      </h1>
    </div>
  </div>
</template>
<transition name="test" mode="out-in"></transition>
<script>
export default {
  components: {
    MenuCustom: () => import("@/components/MenuCustom.vue") // Register your component
  },
  transition: {
    name: "test",
    mode: "out-in"
  }
};
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
